* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.video_container {
  display: grid;
  place-items: center;
}

.video_headline {
  grid-area: 1/1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 3rem 2rem;
}
