/* -----GENEREL STYLE----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 90;
}

/* Defineret farver */
:root {
  ---beige: #f0eeeb;
  ---blue: #3e5c6d;
  ---rose: #c3acb1;
  ---white: #ffffff;
}

/* Defineret fonte */
:root {
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-p: 1.2rem;
  --line-height-h2: 1.2;
  --line-height-p: 1.5;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}

/* Desktop størrelse */
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 1.5rem;
    --font-size-p: 0.8rem;
  }
}

/* -----SEKTION 1 - VIDEO----- */

.video_container {
  display: grid;
  place-items: center;
}

.video_headline {
  position: absolute;
  color: var(---blue);
  padding: 20px;
  z-index: 95;
}

nav {
  position: absolute;
  left: 87%;
  top: 1%;
  z-index: 100;
}

nav img {
  width: 40px;
}

/* -----SEKTION 2 - ITMV INTRODUKTION og SEKTION 3 - VIDSTE DU----- */
.article_2,
.article_3 {
  width: 100%;
  height: 100%;
  color: var(---white);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.article_3 {
  padding: 3rem;
}

/* -----SEKTION 4 - BLOK ANIMATIONER - TEKSTIL FORBRUG----- */

.article_4 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  color: var(---beige);
}

.article_4 div {
  justify-self: center;
}

/* -----SEKTION 5 - SKRALDEPOSE ILLUSTRATION----- */

.article_5 {
  display: grid;
  height: 100vh;
  padding: 2rem;
  color: var(---blue);
}

.article_5 :last-child {
  text-align: right;
}

/* -----SEKTION 6 - LOSSEPLADS----- */

.container {
  display: grid;
  height: 100vh;
  place-items: center;
  color: var(---beige);
  padding: 2rem;
}

.container img {
  width: 250px;
  margin-top: 250px;
  margin-left: 80px;
}

/* -----SEKTION 7 - SYMASKINE ILLUSTRATION----- */

.article_7 {
  display: grid;
  background-color: var(---beige);
  height: 100vh;
  padding: 3rem 2rem;
  color: var(---blue);
}

.article_7 img {
  padding-top: 3rem;
}

.img_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
}

.img_container :first-child {
  width: 150px;
  justify-self: end;
}

.img_container :last-child {
  justify-self: center;
  align-self: end;
  width: 80px;
}

/* -----SEKTION 8 - GLOBUS ILLUSTRATION----- */
.article_8 {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: var(---blue);
}

/* -----SEKTION 9 - HVAD ER REPAIR SERVICE + FORKLARING AF REPAIR SERVICE----- */

.article_9 {
  height: 50vh;
  padding: 2rem;
  color: var(---white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----SEKTION 10 - REPAIR SERVICE TEAM PORTRÆTTER ----- */

.article_10 {
  padding: 2rem;
  color: var(---blue);
  height: 100vh;
}
.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* -----SEKTION 11 - REPAIR SERVICE'S YDELSER----- */
.article_11 {
  padding: 2rem;
  color: var(---blue);
  height: 180vh;
}

.article_11 :last-child {
  text-align: center;
}

.tilbyder {
  text-align: center;
  padding-bottom: 50px;
}

/* -----SEKTION: HVAD FÅR I UD AF DET?----- */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(---white);
  text-align: center;
}

/* -----SEKTION 12 - VI BIDRAGER TIL ESG PROFIL----- */

.article_12 {
  height: 100vh;
  display: grid;
  gap: 40px;
  padding: 2rem;
  color: var(---white);
}

/*styling af wrapper*/
.accordion_wrapper {
  display: grid;
  gap: 50px;
}

/*mindre brødtekst i accordion*/
.accordion_p {
  font-size: 1rem;
}

/* -----SEKTION 13 - HVAD SIGER VORES SAMARBEJDSPARTNERE?----- */

.article_13 {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  color: var(---white);
  text-align: center;
}

/* -----SEKTION 14 - BLIV EN DEL AF EN LOKAL LØSNING PÅ ET GLOBALT PROBLEM----- */
.article_14 {
  color: var(---blue);
  padding: 2rem;
  height: 80vh;
}

/* -----STYLING AF DEN RØDE LINJE SOM LØBER NED AF SIDEN VED SCROLL----- */

svg.redline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2560vw;
  z-index: 10;
}

svg.redline path {
  stroke-width: 0.5rem;
  stroke: #e74d3c55;
}

@media (min-width: 500px) {
  .article_7 img {
    max-width: 400px;
  }
}

@media (min-width: 800px) {
  svg.redline {
    height: 815vw;
  }

  svg.redline path {
    stroke-width: 1rem;
  }
  nav {
    left: 90%;
    top: 5%;
  }

  nav img {
    width: 70px;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  .article_2,
  .article_3 {
    max-width: 600px;
    margin: auto;
  }

  .article_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
  }

  .article_4 p {
    place-self: center;
  }
  .article_5 {
    max-width: 1200px;
    margin: auto;
  }
  .article_5 img {
    max-width: 600px;
    justify-self: center;
  }

  .article_5 p {
    font-size: 2rem;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .container div {
    align-self: center;
    padding: 5rem;
  }

  .container img {
    position: absolute;
    top: 20%;
    left: 60%;
  }

  .article_7 {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
  }

  .article_7 img {
    max-width: 500px;
  }

  .article_7 div {
    align-self: center;
  }

  .order {
    order: 1;
  }

  .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }

  .img_container :first-child {
    width: 150px;
    justify-self: end;
  }

  .img_container :last-child {
    justify-self: center;
    align-self: end;
    width: 80px;
  }

  .article_8 {
    max-width: 1200px;
    margin: auto;
    gap: 50px;
  }

  .article_8 img {
    max-width: 900px;
    justify-self: center;
  }

  .article_8 p,
  .article_9 p,
  .article_11 p {
    max-width: 900px;
    margin: auto;
  }

  .article_10,
  .article_11 {
    max-width: 1200px;
    margin: auto;
  }

  .article_11 {
    height: 100vh;
  }

  .weoffer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
  }
  .grid_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .article_12 {
    height: 100vh;
  }
  .article_12 h1 {
    place-self: center;
  }

  .accordion_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin-top: 0;
    justify-self: center;
  }

  .article_13 {
    height: 100vh;
  }

  .article_14 h1 {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
  }
}
