/* -----GENEREL STYLING----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 90;
}

/* Defineret farver */
:root {
  ---beige: #f0eeeb;
  ---blue: #3e5c6d;
  ---rose: #c3acb1;
  ---white: #ffffff;
}

/* Defineret fonte */
:root {
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-p: 1.2rem;
  --line-height-h2: 1.2;
  --line-height-p: 1.5;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}

/* Desktop font størrelse */
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    --font-size-p: 2rem;
  }
}

/* -----SEKTION 1 - VIDEO----- */

/*styling på container, så tekst kan lægges ovenpå */
.video_container {
  display: grid;
  place-items: center;
}

/*styling h1, så den ligger ovenpå videon*/
.video_headline {
  position: absolute;
  color: var(---blue);
  padding: 20px;
  z-index: 95;
}

/*placering af nav med logo indeni*/
nav {
  position: absolute;
  left: 87%;
  top: 1%;
  z-index: 100;
}

/*styling af logo*/
nav img {
  width: 40px;
}

/* -----SEKTION 2 - ITMV INTRODUKTION og SEKTION 3 - VIDSTE DU----- */
.article_2,
.article_3 {
  width: 100%;
  height: 100%;
  color: var(---white);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.article_3 {
  padding: 3rem;
}

/* -----SEKTION 4 - BLOK ANIMATIONER - TEKSTIL FORBRUG----- */

.article_4 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  color: var(---beige);
}

.article_4 div {
  justify-self: center;
}

/* -----SEKTION 5 - SKRALDEPOSE ILLUSTRATION----- */

.article_5 {
  display: grid;
  height: 100vh;
  padding: 2rem;
  color: var(---blue);
}

.article_5 :last-child {
  text-align: right;
}

/* -----SEKTION 6 - LOSSEPLADS----- */

.container {
  display: grid;
  height: 100vh;
  place-items: center;
  color: var(---beige);
  padding: 2rem;
}

/*styling af losseplads illustrationn*/
.container img {
  width: 250px;
  margin-top: 250px;
  margin-left: 80px;
}

/* -----SEKTION 7 - SYMASKINE ILLUSTRATION----- */

.article_7 {
  display: grid;
  background-color: var(---beige);
  height: 100vh;
  padding: 3rem 2rem;
  color: var(---blue);
}

/*styling af symaskine illustration*/
.article_7 img {
  padding-top: 3rem;
}

/*styling container som indeholder sky illustrationer*/
.img_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
}

/*den ene sky skal være større end den anden*/
.img_container :first-child {
  width: 150px;
  justify-self: end;
}

/*den anden sky er mindre end den anden*/
.img_container :last-child {
  justify-self: center;
  align-self: end;
  width: 80px;
}

/* -----SEKTION 8 - GLOBUS ILLUSTRATION----- */
.article_8 {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: var(---blue);
}

/* -----SEKTION 9 - HVAD ER REPAIR SERVICE + FORKLARING AF REPAIR SERVICE----- */

.article_9 {
  height: 70vh;
  padding: 2rem;
  color: var(---white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----SEKTION 10 - REPAIR SERVICE TEAM PORTRÆTTER ----- */

.article_10 {
  padding: 2rem;
  color: var(---blue);
  height: 100vh;
}

.art_10_p {
  margin-bottom: 50px;
}

/*styling af container som indeholder portræt imgs*/
.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* -----SEKTION 11 - REPAIR SERVICE'S YDELSER----- */

.article_11 {
  padding: 2rem;
  color: var(---blue);
  height: 180vh;
}

/*Luna, Designassistent tekst skal være i midten*/
.article_11 :last-child {
  text-align: center;
}

/*styling af vi tilbyder overskrift*/
.tilbyder {
  text-align: center;
  padding-bottom: 50px;
}

/* -----SEKTION: HVAD FÅR I UD AF DET?----- */

/*styling af wrapper som omkapsler text*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(---white);
  text-align: center;
}

/* -----SEKTION 12 - VI BIDRAGER TIL ESG PROFIL----- */

#sek_12 {
  height: 200vh;
}
.article_12 {
  height: 200vh;
  display: grid;
  gap: 40px;
  padding: 2rem;
  color: var(---white);
}

.article_12 h1 {
  padding-top: 3rem;
}
/*styling af wrapper*/
.accordion_wrapper {
  display: grid;
  gap: 50px;
}

/*mindre brødtekst i accordion*/
.accordion_p {
  font-size: 1rem;
}

/* -----SEKTION 13 - HVAD SIGER VORES SAMARBEJDSPARTNERE?----- */

#sek_13 {
  height: 100vh;
}

.article_13 {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  color: var(---white);
  text-align: center;
}

.article_13 h2 {
  padding-bottom: 1rem;
}

/* -----SEKTION 14 - BLIV EN DEL AF EN LOKAL LØSNING PÅ ET GLOBALT PROBLEM----- */
.article_14 {
  color: var(---blue);
  padding: 2rem;
  height: 80vh;
}

/* -----STYLING AF DEN RØDE LINJE SOM LØBER NED AF SIDEN VED SCROLL----- */

/*placering og længde af den røde tråd som snor sig ned*/
svg.redline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2560vw;
  z-index: 10;
}

/*styling af den røde tråd*/
svg.redline path {
  stroke-width: 0.5rem;
  stroke: #e74d3c55;
}

/*media query som er lavet til symaskine illustration, som skulle have mere en én media query*/
@media (min-width: 500px) {
  .article_7 img {
    max-width: 400px;
  }
}

@media (min-width: 800px) {
  /*den røde tråd skal være kortere ved desktop*/
  svg.redline {
    height: 900vw;
  }

  /*den røde tråd skal være tykkere ved desktop*/
  svg.redline path {
    stroke-width: 1rem;
  }

  /*nav skal rykkes i det skærmen bliver større*/
  nav {
    left: 90%;
    top: 5%;
  }

  /*logoet skal blive større i forbindelse med større skærm*/
  nav img {
    width: 70px;
  }
  /* -----SEKTION 2 - ITMV INTRODUKTION og SEKTION 3 - VIDSTE DU----- */
  .article_2,
  .article_3 {
    max-width: 600px;
    margin: auto;
  }

  /* -----SEKTION 4 - BLOK ANIMATIONER - TEKSTIL FORBRUG----- */
  .article_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
  }

  .article_4 p {
    place-self: center;
  }

  /* -----SEKTION 5 - SKRALDEPOSE ILLUSTRATION----- */

  .article_5 {
    max-width: 1200px;
    margin: auto;
  }

  .article_5 img {
    max-width: 600px;
    justify-self: center;
  }

  /* -----SEKTION 6 - LOSSEPLADS----- */
  .container {
    max-width: 1200px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .container div {
    align-self: center;
    padding: 5rem;
  }

  .container img {
    position: absolute;
    top: 20%;
    left: 60%;
  }

  /* -----SEKTION 7 - SYMASKINE ILLUSTRATION----- */
  .article_7 {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
  }

  /*styling på symaskine illustration*/
  .article_7 img {
    max-width: 500px;
  }

  .article_7 div {
    align-self: center;
  }

  /*styling container som indeholder sky illustrationer*/
  .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }

  /*symaskine illustration skal være i venstre side*/
  .order {
    order: 1;
  }

  /* -----SEKTION 8 - GLOBUS ILLUSTRATION----- */
  .article_8 {
    max-width: 1200px;
    margin: auto;
    gap: 50px;
  }

  /*styling og placering af globus illustration*/
  .article_8 img {
    max-width: 900px;
    justify-self: center;
  }

  /* -----SEKTION 9, 10, 11 - HVAD ER REPAIR SERVICE, REPAIR SERVICE TEAM, VI TILBYDER----- */
  .article_8 p,
  .article_9 p,
  .article_11 p {
    max-width: 900px;
    margin: auto;
  }

  .article_10,
  .article_11 {
    max-width: 1200px;
    margin: auto;
  }

  .art_10_p {
    margin: 100px auto;
  }

  .article_11 {
    height: 100vh;
  }

  /*styling af container som indeholder tekst og 3 portrætbilleder*/
  .grid_container {
    grid-template-columns: repeat(4, 1fr);
  }

  /*styling af grid med repair service illustrationer */
  .weoffer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
  }

  /* -----SEKTION 12 - VI BIDRAGER TIL ESG PROFIL----- */
  #sek_12 {
    height: 100vh;
  }
  .article_12 {
    height: 100vh;
  }
  .article_12 h1 {
    place-self: center;
  }

  /*styling af wrapper med accordions */
  .accordion_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin-top: 0;
    justify-self: center;
  }

  /* -----SEKTION 13 - HVAD SIGER VORES SAMARBEJDSPARTNERE?----- */

  #sek_13 {
    height: 110vh;
  }
  .article_13 {
    height: 110vh;
  }

  /* -----SEKTION 14 - BLIV EN DEL AF EN LOKAL LØSNING PÅ ET GLOBALT PROBLEM----- */
  .article_14 h1 {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
  }
}
