---
import ParallaxSection from "../components/ParallaxSection.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <main>
      <ParallaxSection class="sek1">
        <article class="article_1">
          <div class="video_container">
            <video src=""></video>
            <div class="video_headline">
              <h1>Lokal løsning på et kæmpe globalt problem</h1>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection class="sek2">
        <article class="article_2">
          <div class="video_container">
            <video src=""></video>
            <div>
              <p>I Tråd Med Verden (ITMV), skaber jobmuligheder og fællesskaber gennem genanvendelse af tekstiler i udsatte boligområder. Vi integrerer syersker og borgere i produktionen med fokus på trivsel og bæredygtighed.</p>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection class="sek3" background="" height="">
        <article class="article_3">
          <div>
            <h2>Vidste du at...</h2>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection class="sek4" backgroundColor="#F0EEEB">
        <article class="article_4"></article>
      </ParallaxSection>
      <ParallaxSection class="sek5">
        <article class="article_5"></article>
      </ParallaxSection>
      <ParallaxSection class="sek6">
        <article class="article_6"></article>
      </ParallaxSection>
      <ParallaxSection class="sek7">
        <article class="article_7"></article>
      </ParallaxSection>
      <ParallaxSection class="sek8">
        <article class="article_8"></article>
      </ParallaxSection>
      <ParallaxSection class="sek9">
        <article class="article_9"></article>
      </ParallaxSection>
      <ParallaxSection class="sek10">
        <article class="article_10"></article>
      </ParallaxSection>
      <ParallaxSection class="sek11">
        <article class="article_11"></article>
      </ParallaxSection>
      <ParallaxSection class="sek12">
        <article class="article_12"></article>
      </ParallaxSection>
      <ParallaxSection class="sek13">
        <article class="article_13"></article>
      </ParallaxSection>
      <ParallaxSection class="sek14">
        <article class="article_14"></article>
      </ParallaxSection>
      <ParallaxSection class="sek15">
        <article class="article_15"></article>
      </ParallaxSection>
      <ParallaxSection class="sek16">
        <article class="article_16"></article>
      </ParallaxSection>
      <ParallaxSection class="sek17">
        <article class="article_17"></article>
      </ParallaxSection>
    </main>
  </body>
</html>
