---
import ParallaxSection from "../components/ParallaxSection.astro";
import "../styles/style.css";
import BlockAnimation from "../components/BlockAnimation.astro";
import ClothesAnimation from "../components/ClothesAnimation.astro";
import PortraitSection from "../components/PortraitSection.astro";
import Accordion from "../components/Accordion.astro";
import CTAButton from "../components/CTAButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <img src="../../public/png/logo.png" alt="ITMV logo" />
        </nav>
      </header>
      <ParallaxSection class="sek1" height="100">
        <article class="article_1">
          <div class="video_container">
            <video controls autoplay loop src="../../public/video/ITMV_1.mp4"></video>
            <div class="video_headline">
              <h1>Lokal løsning på et kæmpe globalt problem</h1>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/maerke.webp" height="100">
        <article class="article_2">
          <div>
            <p>I Tråd Med Verden (ITMV), skaber jobmuligheder og fællesskaber gennem genanvendelse af tekstiler i udsatte boligområder. Vi integrerer syersker og borgere i produktionen med fokus på trivsel og bæredygtighed.</p>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/gardin_close_up.webp" height="100">
        <article class="article_3">
          <h1>Vidste du...</h1>
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_4">
          <p>Dit årlige tekstilforbrug svarer til liter vand du drikker på 12 år.</p>
          <BlockAnimation />
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_5">
          <p>I Danmark kasseres årligt</p>
          <img src="../../public/svg/tons-skrald.svg" alt="skraldepose" />
          <p>før det når butikshylderne.</p>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100">
        <div class="container">
          <p>Ca. 85% af tekstiler, der købes årligt, ender på lossepladserne.</p>
          <ClothesAnimation />
          <img src="../../public/svg/losseplads-2.svg" alt="losseplads" />
        </div>
      </ParallaxSection>
      <ParallaxSection height="100">
        <article class="article_7">
          <p>Tøjproduktion står for omkring 10% af verdens samlede CO2-udledning.</p>
          <div class="img_container">
            <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
            <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
          </div>
          <img src="../../public/svg/symaskine.svg" alt="symaskine" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh">
        <article class="article_8">
          <p>I Tråd Med Verden bidrager til at reducere tekstiloverforbruget gennem repair service.</p>
          <img src="../../public/svg/globus.svg" alt="globus" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <h2>Hvad er repair service?</h2>
          <!-- <img src="../../public/svg/tidslinje.svg" alt="tidslinje" /> -->
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <p>En service, hvor to syerske og en designer assistent kommer ud til din arbejdsplads og hjælper med reparation, tilpasning og upcycling af dine medarbejderstøj.</p>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100">
        <article class="article_10">
          <div class="grid_container">
            <PortraitSection name="Olena, Syerske" img="../../public/imgs/olena_portrait.webp" />
            <p>Vores team består af to syerske og en designassistent. De vil hjælpe jer med at forlænge levetiden på jeres tøj.</p>
          </div>
          <div class="grid_container">
            <PortraitSection name="Ira, Syerske" img="../../public/imgs/ira_portrait.webp" />
            <PortraitSection name="Luna, Designassistent" img="../../public/imgs/h_luna_portrait.webp" />
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection height="80">
        <article class="article_11">
          <h2>"Det er måske kun én krumme i en medarbejders pung, at købe et nyt stykke tøj, men vores service, kan være én krumme i en virksomheds budget og kan bidrage til meget mere en kun reparation af tøj."</h2>
          <br />
          <p>"Vi oplever at medarbejderne sætter stor pris på denne gave fra deres arbejdsplads og er med til at de føler sig værdsat af firmaet."</p>
          <br />
          <p><em>Luna, Designassistent</em></p>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/taeppe.webp" height="100">
        <div class="wrapper">
          <h1>Hvad får I ud af det?</h1>
        </div>
      </ParallaxSection>
      <ParallaxSection height="180">
        <article class="article_12">
          <h1>Vi bidrager til ESG</h1>
          <Accordion title="Hvordan kan ITMV hjælpe din virksomheds miljømæssige fodaftryk?" img="../../public/svg/envoirment.svg">
            <h4>Here it is</h4>
            <p>It's not quite like in HTML</p>
            <p>But better</p>
          </Accordion>
          <Accordion title="Vidste du ITMV kan være med til at styrke din virksomheds sociale ansvar?" img="../../public/svg/social.svg">
            <h4>Here it is</h4>
            <p>It's not quite like in HTML</p>
            <p>But better</p>
          </Accordion>
          <Accordion title="Sådan er din virksomhed med til at forbedre arbejdsforhold og samfundsengagementet" img="../../public/svg/govern.svg">
            <h4>Here it is</h4>
            <p>It's not quite like in HTML</p>
            <p>But better</p>
          </Accordion>
        </article>
      </ParallaxSection>
      <ParallaxSection height="80">
        <article class="article_13">
          <div>
            <h2>Hvad siger vores samarbejdspartnere?</h2>
            <br />
            <p>”Vi er vilde med konceptet med Repair Service, der på alle parametre taler direkte ind i vores arbejde med at sætte fokus på bæredygtige løsninger i et stort kontorhus.”</p>
            <br />
            <p><em>Sanne Kjær, Kundedirektør KAB</em></p>
          </div>
          <div>
            <p>”Det er helt fantastisk, en af de bedste personalegoder jeg har oplevet i KAB. Jeg ville rigtig gerne reparerer mit tøj frem for at smide det ud, men problemet er at man skal finde en god skrædder og det kan være enormt dyrt.”</p>
            <br />
            <p><em>Jonas Mørch Cohen, Kundechef KAB</em></p>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection height="80">
        <article class="article_14">
          <h1>Bliv en del af en lokal løsning på et globalt problem</h1>
          <CTAButton />
        </article>
      </ParallaxSection>
    </main>
  </body>
</html>
