---
import ParallaxSection from "../components/ParallaxSection.astro";
import "../styles/style.css";
import BlockAnimation from "../components/BlockAnimation.astro";
import PortraitSection from "../components/PortraitSection.astro";
import Accordion from "../components/Accordion.astro";
import CTAButton from "../components/CTAButton.astro";
import Citat from "../components/Citat.astro";
import WeOffer from "../components/WeOffer.astro";
import ClothesAnimation from "../components/ClothesAnimation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>I Tråd med Verden - Repair Service</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="https://www.itmv.dk/"><img src="../../public/png/logo.png" alt="ITMV logo" width="70" height="70" /></a>
        </nav>
      </header>
      <ParallaxSection height="100">
        <article class="article_1">
          <div class="video_container">
            <video controls autoplay loop src="../../public/video/ITMV_1.mp4"></video>
            <div class="video_headline">
              <h1>Lokal løsning på et kæmpe globalt problem</h1>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/maerke.webp" height="100">
        <article class="article_2">
          <div>
            <p>I Tråd Med Verden (ITMV), skaber jobmuligheder og fællesskaber gennem genanvendelse af tekstiler i udsatte boligområder. Vi integrerer syersker og borgere i produktionen med fokus på trivsel og bæredygtighed.</p>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/gardin_close_up.webp" height="100">
        <article class="article_3">
          <h1>Vidste du...</h1>
        </article>
      </ParallaxSection>
      <ParallaxSection backgroundColor="#3E5C6D">
        <article class="article_4">
          <p>Dit årlige tekstilforbrug svarer til liter vand du drikker på 12 år.</p>
          <BlockAnimation />
        </article>
      </ParallaxSection>
      <ParallaxSection backgroundColor="#F0EEEB">
        <article class="article_5">
          <p>I Danmark kasseres årligt</p>
          <img src="../../public/svg/tons-skrald.svg" alt="skraldepose" />
          <p><u>før</u> det når butikshylderne.</p>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100" backgroundColor="#3E5C6D">
        <article class="article_6">
          <div>
            <p>Ca. 85% af tekstiler, der købes årligt, ender på lossepladserne.</p>
          </div>
          <div class="animation_flex">
            <ClothesAnimation />
            <img id="img_tråd" src="./../public/svg/vector1.svg" alt="tråd" />
            <img id="losseplads" src="../../public/svg/losseplads-2.svg" alt="losseplads" />
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100" backgroundColor="#F0EEEB">
        <article class="article_7">
          <div class="order"><p>Tøjproduktion står for omkring 10% af verdens samlede CO2-udledning.</p></div>
          <div>
            <div class="img_container">
              <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
              <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
            </div>
            <img src="../../public/svg/symaskine.svg" alt="symaskine" />
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100" backgroundColor="#C3ACB1">
        <article class="article_8">
          <p>I Tråd Med Verden bidrager til at reducere tekstiloverforbruget gennem <strong>Repair Service.</strong></p>
          <img src="../../public/svg/small_globus.svg" alt="globus" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="70" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <h2>Hvad er Repair Service?</h2>
        </article>
      </ParallaxSection>
      <ParallaxSection height="70" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <p><strong>En unik løsning, der gør det nemt for jeres virksomhed at bidrage til bæredygtighed og reducere tekstilaffald. Vi et team af erfarne syersker og designassistenter direkte til jeres arbejdsplads. De er eksperter i reparation, tilpasning og upcycling af tøj, og de arbejder hurtigt og effektivt for at hjælpe jeres medarbejdere med at forlænge levetiden på deres garderobe.</strong></p>
        </article>
      </ParallaxSection>
      <ParallaxSection height="130" backgroundColor="#F0EEEB">
        <article class="article_10">
          <p class="art_10_p">Vores service er ikke kun praktisk, den skaber også et sjovt og kreativt miljø på arbejdspladsen. Det er en fantastisk måde at engagere medarbejderne i bæredygtighed og samtidig give dem noget værdifuldt tilbage.</p>
          <div class="grid_container">
            <p>Repair Service Team</p>
            <PortraitSection name="Olena" job="Syerske" img="../../public/imgs/olena_portrait.webp" alt="olena portræt" width="198" height="369" />
            <PortraitSection name="Ira" job="Syerske" img="../../public/imgs/ira_portrait.webp" alt="ira portræt" width="198" height="369" />
            <PortraitSection name="Luna" job="Designassistent" img="../../public/imgs/h_luna_portrait.webp" alt="luna portræt" width="198" height="369" />
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection height="180" backgroundColor="#F0EEEB">
        <article class="article_11">
          <h1 class="tilbyder">Vi tilbyder...</h1>
          <div class="weoffer_grid">
            <div class="weoffer_container">
              <WeOffer titel="Tilpasning" img="../../public/svg/lineal-bukser.svg" alt="tilpasning illustration" />
            </div>
            <div class="weoffer_container">
              <WeOffer titel="Reperation" img="../../public/svg/sytråd.svg" alt="reparation illustration" />
            </div>
            <div class="weoffer_container">
              <WeOffer titel="Upcycling og costumizing" img="../../public/svg/broderi3.svg" alt="upcycling illustration" />
            </div>
          </div>
          <p><strong>"For forbrugeren er det en krumme at købe en ny bluse, men for virksomheden er det også en krumme at ansætte os til at komme at hjælpe. Det er bare krumme som har en større betydning."</strong></p>
          <br />
          <p><em>Luna, Designassistent</em></p>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/taeppe.webp" height="100">
        <div class="wrapper">
          <h1>Hvad får I ud af det?</h1>
        </div>
      </ParallaxSection>
      <ParallaxSection id="sek_12" backgroundColor="#3E5C6D">
        <article class="article_12">
          <h1>Vi bidrager til jeres ESG profil</h1>
          <div class="accordion_wrapper">
            <Accordion title="Hvordan kan ITMV hjælpe din virksomheds miljømæssige fodaftryk?" img="../../public/svg/envoirment.svg" name="envoirment illustration">
              <p class="accordion_p">I Tråd Med Verden (ITMV) adresserer miljømæssige udfordringer inden for tekstilindustrien ved at fokusere på genanvendelse af kasserede tekstiler. Ved at omdanne disse materialer til nye produkter reducerer vi behovet for at fremstille nye tekstiler, hvilket minimerer ressourceforbruget og sparer på affaldsmængden.</p>
            </Accordion>
            <Accordion title="Vidste du ITMV kan være med til at styrke din virksomheds sociale ansvar?" img="../../public/svg/social.svg" name="social illustration">
              <p class="accordion_p">ITMV er forankret i et socialøkonomisk formål, der fokuserer på at skabe jobmuligheder og livskvalitet for mennesker, der har brug for støtte på arbejdsmarkedet. Værkstederne i de udsatte boligområder fungerer som centrale sociale støttestrukturer hvor kvinder kan få arbejde og får på den måde mulighed for at deltage i produktionen og blive en del af et inkluderende arbejdsfællesskab.</p>
            </Accordion>
            <Accordion title="Sådan er din virksomhed med til at forbedre arbejdsforhold og samfundsengagementet" img="../../public/svg/govern.svg" name="governance illustration">
              <p class="accordion_p">Som en socialøkonomisk virksomhed, der drives af foreningen I Tråd Med Verden, prioriterer vi et transparent og ansvarligt styresystem. Vores partnerskab med KAB og samarbejdet med lokale interessenter understreger vores forpligtelse til at inddrage forskellige perspektiver og sikre en bæredygtig forretningspraksis. Vi er forpligtede til at følge etik og retfærdighed i vores drift og til at sikre, at vores aktiviteter bidrager positivt til samfundet og miljøet.</p>
            </Accordion>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection id="sek_13" backgroundColor="#3E5C6D">
        <article class="article_13">
          <h2>Hvad siger vores samarbejdspartnere?</h2>
          <Citat text="Vi er vilde med konceptet med Repair Service, der på alle parametre taler direkte ind i vores arbejde med at sætte fokus på bæredygtige løsninger i et stort kontorhus." name="Sanne Kjær, Kundedirektør KAB" />
          <Citat text="Det er helt fantastisk, en af de bedste personalegoder jeg har oplevet i KAB. Jeg ville rigtig gerne reparerer mit tøj frem for at smide det ud, men problemet er at man skal finde en god skrædder og det kan være enormt dyrt." name="Jonas Mørch Cohen, Kundechef KAB" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="80">
        <article class="article_14">
          <h1>Bliv en del af en lokal løsning på et globalt problem</h1>
          <CTAButton />
        </article>
      </ParallaxSection>
    </main>
  </body>

  <svg class="redline" width="998" height="29593" viewBox="0 0 998 29593" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 2C169.821 139.914 251.863 248.814 419.5 389.858C558.5 506.808 730.534 552.165 797 782.898C827.514 888.824 829.853 1003.89 826.5 1118.94C820.883 1311.68 768.424 1417.92 660.5 1526.05C561.5 1625.23 462.92 1576.3 377 1699.99C250 1882.82 199.496 1970.9 148.5 2183.33C103.524 2370.69 97.2256 2516.69 123 2711.83C166.067 3037.89 373.143 3137.33 593.5 3200.35C681.5 3225.52 790.5 3207.75 861.5 3386.88C932.5 3566 937.078 3683.7 947.5 3882.06C958.429 4090.09 939.598 4255.09 851.5 4417.96C774.943 4559.49 686.525 4586.65 567 4613.37C418 4646.68 290.183 4586.73 183 4751.04C65.2196 4931.6 80.7945 5144.5 123 5387.61C170.061 5658.67 271.571 5790.1 431 5940.53C567.5 6069.32 733.021 6222.13 851.5 6048.59C937.141 5923.15 961.385 5752.15 901 5597.82C847.686 5461.56 762.156 5431.57 656 5421.65C459.569 5403.3 385.378 5669.18 275.5 5910.92C120.375 6252.2 72.9168 6535.16 123 6939.78C150.746 7163.94 161.352 7324.99 275.5 7477.9C418.561 7669.53 612.096 7425.4 762 7605.21C899.887 7770.6 945.729 7954.72 950.5 8217.34C956.511 8548.25 862.942 8770.9 682.5 8966.41C516.5 9146.28 362 9043.39 199.5 9216.6C2.81401 9426.24 -29.4663 9795.45 77.5 10117.4C183 10434.9 395 10460.1 600 10611.8C736.227 10712.7 840.105 10772.3 901 10979C971.406 11217.9 890.481 11391.1 838 11640C763.249 11994.4 722.628 12259.7 510.5 12457.9C384.5 12575.6 265.383 12516.5 163.5 12673.3C9.22641 12910.6 0.394424 13211.6 94 13510.4C179.056 13782 348.979 13785.6 510.5 13965.6C684.5 14159.6 847.715 14305.7 877.5 14641.4C901.864 14916.1 867.675 15126.5 732 15317.2C618.558 15476.7 522.027 15567.7 371 15628.1C276.685 15665.8 193.18 15673.3 110.5 15596.3C2.18039 15495.3 58.1796 15231.5 160 15116.6C261.289 15002.4 382.68 15056.5 484 15170.7C620.277 15324.2 579.466 15561.1 553.5 15811.7C515 16183.2 348 16329.1 236 16674C163.149 16898.3 82.3208 17027.4 94 17275.8C110.972 17636.6 289.711 17783.5 487.5 17996C640.5 18160.3 767.868 18172.5 861 18402.3C999 18742.8 1023.43 19063.1 894.5 19406C835.5 19562.9 782.146 19652.5 669.5 19704.3C508.5 19778.3 390.707 19640 259 19778.3C156.257 19886.3 136.5 20004.8 84 20179.5C10.5 20424.1 -21.1688 20647.2 84 20864.9C178.564 21060.7 305.423 21085.8 467.5 21104.7C645 21125.5 780.176 21028.2 894.5 21212.8C1013.41 21404.8 962.251 21627.1 917.5 21879C875.633 22114.7 843.415 22295.7 699 22412.7C549.306 22533.9 407.523 22249.9 262.5 22383.1C154.799 22481.9 121.935 22606.6 84 22784.2C51.6019 22936 66.1925 23031.5 64 23190.6C56.4421 23739 -59.68 24210.5 216 24577C417.635 24845 743.888 24495.8 887.5 24836C1005.35 25115.2 1015.71 25437 864.5 25678.4C751.733 25858.4 628.5 25809.4 461 25874.5C329.19 25925.8 243.873 25967.8 153.5 26118.8C17.718 26345.7 10.4608 26588.7 60.5 26882.7C102.099 27127 178.559 27248.4 305.5 27416.3C448.909 27606 569.5 27813.1 748.5 27734.6C853.861 27688.4 904.17 27550.1 904 27387.5C903.798 27193.7 813.273 27022.9 682.5 27015.1C562.438 27008 508.5 27146.9 444.5 27303.8C359.055 27513.3 315.293 27637 259 27867.1C183.548 28175.5 176.32 28365.1 143.5 28689.5C120.775 28914.1 36.3463 29061.2 100.5 29267.5C188.141 29549.4 393.952 29524.3 603 29546.6C755.5 29562.9 843.133 29573.7 997 29591"
      stroke="#E74C3C"
      stroke-width="3"
      stroke-linecap="round"></path>
  </svg>

  <script>
    //Fanger det første SVG-element med klassen "redline"
    const svg = document.querySelector("svg.redline");
    //Fanger det første path-element inden for det valgte SVG-element
    const path = svg.querySelector("path");

    // Funktionen scroll() beregner, hvor meget brugeren har scrollet i forhold til højden af SVG-elementet.
    const scroll = () => {
      //Fanger den aktuelle scroll-position i pixels
      const distance = window.scrollY;

      //Beregner den samlede scrollbare distance for SVG-elementet.
      const totalDistance = svg.clientHeight - window.innerHeight;

      //Beregner procentdelen af den samlede scrollbare distance, som brugeren har scrollet.
      const percentage = distance / totalDistance;

      // Fanger den totale længde af path-elementet i SVG.
      const pathLength = path.getTotalLength();

      path.style.strokeDasharray = `${pathLength}`;
      path.style.strokeDashoffset = `${pathLength * (1 - percentage)}`;
    };

    scroll();
    window.addEventListener("scroll", scroll);

    document.querySelector("#clothes_fuld").classList.add("timer");
  </script>
</html>
