---
import ParallaxSection from "../components/ParallaxSection.astro";
import "../styles/style.css";
import BlockAnimation from "../components/BlockAnimation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <img src="../../public/png/logo.png" alt="ITMV logo" />
        </nav>
      </header>
      <ParallaxSection class="sek1" height="100">
        <article class="article_1">
          <div class="video_container">
            <video controls autoplay loop src="../../public/video/ITMV_1.mp4"></video>
            <div class="video_headline">
              <h1>Lokal løsning på et kæmpe globalt problem</h1>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/maerke.webp" height="100">
        <article class="article_2">
          <div>
            <p>I Tråd Med Verden (ITMV), skaber jobmuligheder og fællesskaber gennem genanvendelse af tekstiler i udsatte boligområder. Vi integrerer syersker og borgere i produktionen med fokus på trivsel og bæredygtighed.</p>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/gardin_close_up.webp" height="100">
        <article class="article_3">
          <h1>Vidste du...</h1>
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_4">
          <p>Dit årlige tekstilforbrug svarer til liter vand du drikker på 12 år.</p>
          <BlockAnimation />
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_5">
          <p>I Danmark kasseres årligt</p>
          <img src="../../public/svg/tons-skrald.svg" alt="skraldepose" />
          <p>før det når butikshylderne.</p>
        </article>
      </ParallaxSection>
      <ParallaxSection />
    </main>
  </body>
</html>
