---
import ParallaxSection from "../components/ParallaxSection.astro";
import "../styles/style.css";
import BlockAnimation from "../components/BlockAnimation.astro";
import ClothesAnimation from "../components/ClothesAnimation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <img src="../../public/png/logo.png" alt="ITMV logo" />
        </nav>
      </header>
      <ParallaxSection class="sek1" height="100">
        <article class="article_1">
          <div class="video_container">
            <video controls autoplay loop src="../../public/video/ITMV_1.mp4"></video>
            <div class="video_headline">
              <h1>Lokal løsning på et kæmpe globalt problem</h1>
            </div>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/maerke.webp" height="100">
        <article class="article_2">
          <div>
            <p>I Tråd Med Verden (ITMV), skaber jobmuligheder og fællesskaber gennem genanvendelse af tekstiler i udsatte boligområder. Vi integrerer syersker og borgere i produktionen med fokus på trivsel og bæredygtighed.</p>
          </div>
        </article>
      </ParallaxSection>
      <ParallaxSection background="./imgs/gardin_close_up.webp" height="100">
        <article class="article_3">
          <h1>Vidste du...</h1>
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_4">
          <p>Dit årlige tekstilforbrug svarer til liter vand du drikker på 12 år.</p>
          <BlockAnimation />
        </article>
      </ParallaxSection>
      <ParallaxSection>
        <article class="article_5">
          <p>I Danmark kasseres årligt</p>
          <img src="../../public/svg/tons-skrald.svg" alt="skraldepose" />
          <p>før det når butikshylderne.</p>
        </article>
      </ParallaxSection>
      <ParallaxSection height="100">
        <div class="container">
          <p>Ca. 85% af tekstiler, der købes årligt, ender på lossepladserne.</p>
          <ClothesAnimation />
          <img src="../../public/svg/losseplads-2.svg" alt="losseplads" />
        </div>
      </ParallaxSection>
      <ParallaxSection height="100">
        <article class="article_7">
          <p>Tøjproduktion står for omkring 10% af verdens samlede CO2-udledning.</p>
          <div class="img_container">
            <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
            <img src="../../public/svg/stor_sky.svg" alt="stor sky" />
          </div>
          <img src="../../public/svg/symaskine.svg" alt="symaskine" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh">
        <article class="article_8">
          <p>I Tråd Med Verden bidrager til at reducere tekstiloverforbruget gennem repair service</p>
          <img src="../../public/svg/globus.svg" alt="globus" />
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <h2>Hvad er repair service?</h2>
          <!-- <img src="../../public/svg/tidslinje.svg" alt="tidslinje" /> -->
        </article>
      </ParallaxSection>
      <ParallaxSection height="100vh" background="./imgs/farvet_stof_closeup.webp">
        <article class="article_9">
          <p>En service, hvor to syerske og en designer assistent kommer ud til din arbejdsplads og hjælper med reparation, tilpasning og upcycling af dine medarbejderstøj.</p>
        </article>
      </ParallaxSection>
    </main>
  </body>
</html>
