---
const { title, img, name } = Astro.props;
---

<div class="accordion_container">
  <img src={img} alt={name} />
  <details>
    <summary>{title}</summary>
    <article>
      <slot />
    </article>
  </details>
</div>

<style>
  .accordion_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 80;
  }
  .accordion_container img {
    width: 170px;
    padding-bottom: 1rem;
  }
  details,
  summary {
    max-width: 300px;
    margin-bottom: 0.5rem;
  }
  summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    margin-bottom: 0;
    padding: 0.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
  article {
    border: var(---white) solid 1px;
    border-radius: 10px;
    padding: 0.5rem;
  }
  /* Arrow icon */
  summary::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.5rem solid;
    border-inline: 0.4rem solid transparent;
  }
  details[open] > summary::after {
    transform: rotate(-180deg);
  }
</style>
