---
const { text, name } = Astro.props;
---

<div>
  <p><em>"{text}"</em></p>
  <br />
  <p>{name}</p>
</div>

<style>
  div {
    margin-bottom: 40px;
  }
  div :last-child {
    text-align: center;
  }

  @media (min-width: 800px) {
    div {
      max-width: 1000px;
      margin: auto;
      margin-bottom: 100px;
    }
  }
</style>
