<div class="flex_container">
  <div id="container">
    <div id="tøj" class="procent"></div>
    <div id="omdrids"></div>
  </div>
</div>

<style>
  #container {
    position: absolute;
    width: 100%;
    aspect-ratio: 3/2;
  }

  #omrids {
    position: absolute;
    background-image: url("../../public/svg/shirts_outline.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  #tøj {
    position: absolute;
    background-image: url("../../public/svg/85_procent.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .procent {
    animation: procent_kf 8s linear forwards infinite;
  }

  @keyframes procent_kf {
    0% {
      clip-path: inset(100% 0 0);
    }

    100% {
      clip-path: inset(0 0 0);
    }
  }

  @media (min-width: 800px) {
    #container {
      max-width: 370px;
      top: 20%;
      left: 40%;
    }
  }
</style>
