<div id="animation_container">
  <div id="clothes_tom">
    <div id="clothes_fuld"></div>
  </div>
</div>

<style>
  #animation_container {
    position: relative;
    width: 200px;
    aspect-ratio: 5/2.9;
    z-index: 1000;
    left: 40px;
    top: 52px;
  }

  #clothes_tom {
    position: absolute;
    background-image: url(./svg/group3.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  #clothes_fuld {
    position: absolute;
    background-image: url(./svg/trojefarverfinal.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .timer {
    animation-name: timer_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  @keyframes timer_kf {
    0% {
      clip-path: inset(100% 0 0);
    }

    100% {
      clip-path: inset(0 0 0);
    }
  }

  @media (min-width: 500px) {
    #animation_container {
      left: 30px;
    }
  }

  @media (min-width: 800px) {
    #animation_container {
      position: relative;
      width: 400px;
      aspect-ratio: 4/2.3;
    }

    #clothes_tom {
      position: absolute;
      background-image: url(../svg/group3.svg);
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    #clothes_fuld {
      position: absolute;
      background-image: url(../svg/trojefarverfinal.svg);
      background-size: cover;
      width: 100%;
      height: 100%;
      left: 0;
    }
  }
</style>
