<div class="knap_container">
  <a href="https://www.itmv.dk/pages/repair-service" class="knap">Lad os arbejde sammen</a>
</div>

<style>
  .knap_container {
    display: flex;
    justify-content: center;
  }
  .knap {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(---blue);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    font-size: 1.4rem;
    z-index: 20;
  }

  .knap:hover {
    background-color: var(---beige);
    border: solid 1px var(---blue);
    color: var(---blue);
  }
</style>
