---
const { name, img, job } = Astro.props;
---

<div class="img">
  <img src={img} alt={name} />
  <p>{name}</p>
  <p class="small_text"><em>{job}</em></p>
</div>

<style>
  .small_text {
    font-size: 1rem;
  }
</style>
